<div class="card">
<div class="card-body">
   <h2 class="card-title mb-4">
    <span>Projects</span>
    <%= link_to 'New Project', new_project_path, class: 'btn btn-primary' %>
   </h2>

<h1>New Project</h1>

<%= render 'form', project: @project %>

<%= link_to 'Back', projects_path %>
